@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
background: #56ab2f;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}



html {

  -webkit-font-smoothing: antialiased;

  font-weight: 100;
}

.styles {
  font-size: 5rem;
  line-height: 1;
  letter-spacing: -.05em;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: 100%/1.5 "Roboto", re, sans-serif;

}

.coloring {
  color: #f35626; 
  background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 60s infinite linear;
}
